
h1 { font-size: xx-large; font-family: initial; text-align: center;color: rgb(136, 16, 16);font: size 500%;}
h2 {color: gold;font-family: fantasy;text-align:center;}
h3 {color:ivory ; font-family: 'Courier New', Courier, monospace;text-align:center;}        h4 {color: lightgoldenrodyellow;font-family: monospace;text-align:center;}
h5 {color: orangered;font-family: serif;text-align:center;}
h6 {color: orange; font-family:serif;text-align: center;} 
table { width:100% ;text-align: center;color: rgb(201, 13, 13); font-family: cursive;}
ul {color:goldenrod;font-family: serif;text-align:center;}
p {text-align: center;color: rgb(255, 0, 0); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}


* {
box-sizing: border-box;
}

body { background-color: #333;
margin: 0;
}

/* Style the header */
.header {
background-color: #ffe600;
padding: 40px;
text-align: center;
}

.topnav {
overflow: hidden;
background-color: #333;
}


/* Style the topnav links */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
float: left;
padding: 10px;
}

/* Left and right column */
.column.side {
width: 25%;
}

/* Middle column */
.column.middle {
width: 50%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column.side, .column.middle {
width: 100%;
}
}
